body{
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

/* Zona de diseño de los Containers*/
.container_main{
    margin: 5% 25%;
}

.container_window{
    background-color: rgb(26, 26, 26);
    width: 600px;
    height: 400px;
    border: 0.3px solid;
    border-color: rgb(87, 87, 87);
    text-align: center;
}

.container_tab{
    background-color: rgb(26, 26, 26);;
    border: 1px solid;
    border-color: rgb(87, 87, 87);
    border-bottom: none;
    border-top: 2px solid;
    border-top-color: rgb(0, 17, 255);
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    
}

.container_pages{
    padding-top: 40px;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container_numbering{
    background-color: rgb(26, 26, 26);
    color: rgb(161, 161, 161);
    padding-left: 15px;
    border-right: 2px solid;
    border-color: rgb(20, 20, 20);
    padding-right: 18px;
    width: 2%;
    height: 94%;
    float: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.container_form{
    padding-top: 10px;
    margin-top: 20px;
    width: 90%;
    height: 50%;
}

.container_address{
    background-color: rgb(26, 26, 26);
    border-bottom: 2px solid;
    border-bottom-color: rgb(22, 22, 22);
    height: 5%;
    text-align: left;
    padding-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.static_bar{
    width: 100%;
    height: 30px;
    background-color: rgb(26, 26, 26);
    border-bottom: 1px solid black;
    
}

/* Zona de diseño de los Titulos*/
.tittle{
    margin-bottom: 20px ;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

/*Zona de Formularios*/
.form_auth{
    margin-bottom: 10px;
}
.name_person{
    color: rgb(0, 225, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    background-color: rgb(26, 26, 26);
    text-align: center;
    border: 2px solid;
    border-color: rgb(19, 19, 19);
    border-radius: 0px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 1000ms;
}
.name_person:focus{
    text-align: center;
    background-color: rgb(19, 19, 19);
    outline: none;
    padding: 10px;
    color: rgb(0, 225, 255);
    
    transition: 1000ms;
}

.name_person::placeholder{
    color: rgb(218, 218, 218);
    transition: 1000ms;
}
.name_person:focus::placeholder{
    color: rgb(253, 109, 84);
    transition: 1000ms;
}

/* Zona de diseño de las Imagenes*/
.upwork{
    width:60px;
    vertical-align: middle;
    padding-right: 13px;
}

.linkedin{
    width:80px;
    vertical-align: middle;
}

.html{
    width: 20px;
    vertical-align: middle;
    padding-right: 4px;
}

.html_mini{
    width: 10px;
    vertical-align: -2px;
    padding-right: 3px;
}



/* Zona de diseño de los links*/
a.text_after_img{
    color: rgb(199, 199, 199);
    font-size: medium;
    text-align: justify;
    text-decoration: none;
    vertical-align: middle;
    transition: 1000ms;
}

a.text_after_img:hover{
    color: rgb(255, 255, 255);
    transition: 1000ms;
}


/* Zona de diseño de los Label*/
.p_sup_left,
.p_sup_mid,
.p_sup_right{
    margin: 0;
}
.p_sup_left{
    width: 35%;
    text-align: left;
    color: antiquewhite;
    vertical-align: middle;
}

.p_sup_mid{
    width: 35%;
    text-align: center;
    color: antiquewhite;
    vertical-align: middle;
}

.p_sup_right{
    width: 30%;
    text-align: right;
    color: antiquewhite;
    vertical-align: middle;
}

.mini{
    vertical-align: middle;
}

.credits{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

label.one{
    color: rgb(68, 171, 255);
    cursor: pointer;
    transition: 1000ms;
}

label.two{
    color: rgb(253, 109, 84);
    cursor: pointer;
    transition: 1000ms;
}
label.three{
    cursor: pointer;
    transition: 1000ms;
}

a.button{
    color: rgb(143, 143, 143);
    font-size: large;
    padding: 15px 25px;
    text-decoration: none;
    transition: 1000ms;
}

a.button:hover{
    background-color: rgb(20, 20, 20);
    color: white;
    transition: 1000ms;
}

a.button:hover label.one{
    color: rgb(0, 225, 255);
    transition: 1000ms;
}

a.button:hover label.two{
    color: rgb(255, 0, 0);
    transition: 1000ms;
}
